
tr,td,th{
    padding:10px 0px;
}

td,tr{
    color:white;
    background-color: rgb(97, 91, 91);
    box-shadow: 0px 0px 4px black;
    margin: 5px;
    
}
th{
    background-color: black;
}
.hid{
    display:none;
}
.back{
    width:100%;
}
.centralised{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}